[submodule "messender-next"]
	path = messender-next
	url = git@github.com:VuongNhatHien/Messender-NextJS.git
[submodule "messender-socket"]
	path = messender-socket
	url = git@github.com:VuongNhatHien/Messender-Socket.git
[submodule "messender-spring"]
	path = messender-spring
	url = git@github.com:VuongNhatHien/Messender-Spring.git
